.baslik
{
	
	margin-top: 10%;
	
}
a 
{
	text-decoration: none;
}
.uyehak
{

	margin-top: 100px;
	margin-left: 6%;
	border: 5px solid #FF9933;
	width: 400px;
	height: 400px;
	border-radius: 150px;

}
.uyehak1
{

	margin-top: -410px;
	margin-left: 55%;
	border: 5px solid #d92e2e;
	width: 400px;
	height: 400px;
	border-radius: 150px;

}
.uyeol
{
	margin-top: 45px;
	margin-left: 65px;
}
.uyeol a
{
	color: #d92e2e;
}

.paket1
{
	width: 310px;
	height: 45px;
   border :3px solid #FF9933;
	margin-top: 10%;
	border-radius: 20px;

}

.paket2
{
	width: 155px;
	height: 25px;
	border :3px solid #d92e2e ;
	border-radius: 20px;
	margin-top: 2.2%;
}

.yazi
{
	margin-top: 2%;
	color: black;
}
.uyeSayfaBaslik
{
	margin-top: 50px;
	color: #515151;
	font-size: 40px;
}
.uyeSayfaBaslik1
{
	margin-top: -250px;
	color: #515151;
	font-size: 40px;
	margin-bottom: 40px;
}
.uyeSayfaBaslik2
{
	
	color: #522222;
	font-size: 22px;
	margin-top: 10px;
}
.uyeSayfaBaslik3
{
	
	color: red;
	font-size: 22px;
	margin-top: 10px;
}
.yan
{
	text-decoration: none;
	font-size: 15px;
	
}

.yan1
{
	text-decoration: none;
	color: #d92e2e;

}


.kare
{
	
	width: 800px;
	height: 400px;
	margin: 0 auto;
}

#menu 
{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    margin-left: -50px;
    list-style-type: none;
}
#menu1
{
    margin: 0px;
    padding: 0px;
    margin-top: -17px;
    margin-left: -50px;
    list-style-type: none;
}


#menu li 
{
    
    width: 150px;
    position: relative;
}
#menu1 li 
{
    
    width: 150px;
    position: relative;
}

#menu a 
{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    border-radius: 100px;
    padding-right: 5px;
    border: 1px solid #FF9933;
    text-align: center;
    line-height: 30px;
    margin-right: 2px;

}
#menu1 a 
{
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    border-radius: 100px;
    padding-right: 5px;
    border: 1px solid #FF9933;
    text-align: center;
    line-height: 30px;
    margin-right: 2px;

}


#menu a:hover 
{
    background-color: #FF9933;
}
#menu1 a:hover 
{
    background-color: #FF9933;
}

/*--------------------------------------*/
.prbilgi
{
	margin-left: 180px;
	margin-top: -200px;



}
.renk
{
	color:blue;
}

/*-----------------------------------------*/

.kare img
{
	margin-left: 160px;
	margin-top: -230px;
	height: 400px;
}
.sub
{
	margin-left: 93.5%;
	margin-top: 10%;
}
.sub1
{
	margin-left: 93.5%;
	margin-top: 3%;
}


/*--------------YONETICIPANELI------------*/
.menu
{
	margin-left: 200px;
	margin-top: 170px;
}
.tablo
{
	margin-left: 150px;
	margin-top: -190px;
}
/*--------------UYEDUZELT------------*/
.formm

{
	margin-left: 180px;
	margin-top: -200px;
}
.formm1

{
	margin-left: 180px;
	margin-top: -235px;
}
.subUpdate
{
	margin-left: 240px;
}
.subDelete
{
	margin-left: 240px;
}

.yonbas
{
	margin-top: -370px;
	margin-left: 245px;
	color: #515151;
}
.mesaciklama
{
	margin-left: 20px;	
	color: black;
}
.sekil
{
	width:200px;
	height: 55px;
	margin-top: -300px;
	margin-left: 260px;
	color: #515151;
}
.sekil1
{
	width:275px;
	height: 55px;
	margin-top: -300px;
	margin-left: 260px;
	color: #515151;

}
.sekil12
{
	width:375px;
	height: 55px;
	margin-top: 25px;
	margin-left: 260px;
	color: #515151;
}
/*******/
.tablo1
{
	margin-left: 150px;
	margin-top: -220px;
}
.arkaplan
{
	width: 500px;
	height: 420px;
	margin-left: 200px;
	margin-top: -210px;
	
	background-image: url("../img/not.jpg");
}
.resimm
{
	margin-left: -1%;
	margin-top: -22%;
}
.son
{
	margin-left: 290px;
}